{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
    {% if block_content_type !='udemium_banner' %}
        {{ title_prefix }}
        {% if label %}
            <h2{{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            {{ content }}
        {% endblock %}
    {% else %}
        <div class="content-row row">
            <div class="field-group">
                <div class="field-item {{ image_position }}">
                    {% if block_content.field_image is not empty %}
                        <div class="field-image">
                            <img src="{{ file_url(block_content.field_image.entity.uri.value) }}" alt="">
                        </div>
                    {% endif %}
                </div>
                <div class="field-item">
                    <div class="field-item field-content">
                        <div class="field-item text-title">
                            {% if label %}
                                <h2{{ title_attributes }}>{{ label }}</h2>
                            {% endif %}
                        </div>
                        <div class="field-item text-content">
                            {{ block_content.body.value|raw }}
                        </div>
                        {% if block_content.field_link is not empty %}
                        <div class="field-item field-link">
                            <a href="{{ block_content.field_link.0.url }}">{{ block_content.field_link.0.title }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
